@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h2 class="fw-bold">@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row profile_page">
    <div>
        <form id="email-form" method="post">
            @if (Model.IsEmailConfirmed)
            {
                <div class="input-group col-md-6">
                    <label asp-for="CurrentEmail" class="p-0"></label>
                    <input asp-for="CurrentEmail" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <label asp-for="CurrentEmail" class="p-0"></label>
                    <input asp-for="CurrentEmail" class="form-control" disabled />                  
                </div>
                <span class="text-dark">
                    You haven't verified your email address. Please <a id="email-verification" class="text-decoration-none fw-bold">verify here</a>
                </span>
            }
            <div class="pt-3 col-md-6">
                <label asp-for="Input.NewEmail" class="p-0"></label>
                <input asp-for="Input.NewEmail" class="form-control" type="email" placeholder="abc123@gmail.com" autocomplete="off" />
            </div>
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            <div class="py-3 col-md-6">
                <label asp-for="Input.CurrentPassword" class="p-0"></label>
                <input asp-for="Input.CurrentPassword" class="form-control" type="password" autocomplete="off"/>
                <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="pt-3 col-md-6 d-flex justify-content-center">
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn text-white fw-bold">Change email</button>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $(document).ready(function () {
        $("#email-verification").click(function (event) {
            event.preventDefault();
            sendVerificationEmail();
        });

        function sendVerificationEmail() {
            $.ajax({
                url: "/Identity/Account/Manage/Email?handler=SendVerificationEmail",
                type: "POST",
                success: function (data) {
                    console.log("Verification email sent successfully!");
                },
                error: function (error) {
                    console.error("Error sending verification email:", error);
                }
            });
        }
    });
</script>
