@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="container bg-white">
        <div class="form-container sign-in d-flex align-items-center justify-content-center flex-column">
            <div class="logo">
                <a href="/Customer">
                    <img src="~/images/home_banner/logo.png" alt="Logo">
                </a>
            </div>
            <form method="post" id="forgotpassword-form" class="mx-5 text-center col-8">
                <h2>Reset your password</h2>
                <div class="col-12 d-flex justify-content-start mt-5">
                    <h6>Email address</h6>
                </div>
                <input asp-for="Input.Email" type="email" placeholder="abc123@gmail.com" class="form-control" aria-required="true" autocomplete="off" />
                <div class="col-12 d-flex justify-content-start">
                    <span asp-validation-for="Input.Email" class="text-danger text-start"></span>
                </div>
                <button class="submit-button mt-5" type="submit">Reset Password</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h2>Forgot Your Password?</h2>
                    <p>Enter your email address to reset your password and regain access to your HLBookstore account.</p>
                    <a class="hidden" id="login" asp-page="./Login">Back</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
