@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9YS5TZNJ6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-Z9YS5TZNJ6', {
            'page_path': window.location.pathname,
            'custom_map': {
                'dimension1': 'merchantId',
                'dimension2': 'orderId',
                'metric1': 'loading_time'
            }
        });

        gtag('set', {
            'merchantId': 'ABC',
            'orderId': '100'
        });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <!-- Content specific to the signup page -->
    <div class="container bg-white signup-page">
        <div class="logo">
            <a href="/Customer">
                <img src="~/images/home_banner/logo.png" alt="Logo">
            </a>
        </div>
        <div class="form-container sign-up d-flex align-items-center justify-content-center flex-column">
            
            <form id="external-login-form" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-center col-8">
                <h1>Create Account</h1>
                <div class="social-icons d-flex justify-content-center align-items-center">
                    <button type="submit" name="provider" value="Facebook" class="bg-transparent border-0">
                        <i class="fa-brands fa-facebook-f"></i>
                    </button>
                    <button type="submit" name="provider" value="Twitter" class="bg-transparent border-0">
                        <i class="fa-brands fa-twitter"></i>
                    </button>
                    <button type="submit" name="provider" value="Instagram" class="bg-transparent border-0">
                        <i class="fa-brands fa-instagram"></i>
                    </button>
                    <button type="submit" name="provider" value="LinkedIn" class="bg-transparent border-0">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </button>
                </div>
            </form>
            <form method="post" id="signup-form" class="mx-5 text-center">
                <span>or use your email for registration</span>
                <input class="col-12" asp-for="Input.Username" type="text" placeholder="Username">
                <div class="col-12 d-flex justify-content-start">
                    <span asp-validation-for="Input.Username" class="text-danger text-start"></span>
                </div>
                <input class="col-12" asp-for="Input.Email" type="email" placeholder="Email">
                <div class="col-12 d-flex justify-content-start">
                    <span asp-validation-for="Input.Email" class="text-danger text-start"></span>
                </div>
                <input class="col-12" asp-for="Input.Password" type="password" placeholder="Password">
                <div class="col-12 d-flex justify-content-start">
                    <span asp-validation-for="Input.Password" class="text-danger text-start"></span>
                </div>
                <input class="col-12" asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm password">
                <div class="col-12 d-flex justify-content-start">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger text-start"></span>
                </div>
                <a class="small-screen-signin" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign In</a>
                <button class="submit-button" type="submit">Sign Up</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <a class="hidden" id="login" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign In</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        if (window.performance) {
            var timeSincePageLoad = Math.round(performance.now());
            console.log(timeSincePageLoad);
            gtag('set', {
                'loading_time': timeSincePageLoad
            });
        }
    </script>
</body>

</html>