@{
	ViewData["Title"] = "Book Management";
}
<div class="container">
	<div class="row pt-4 pb-2">
		<div class="col-5 col-sm-6">
			<h2 class="text-dark">Book List</h2>
		</div>
		<div class="col-7 col-sm-6 text-end">
			<a asp-controller="Book" asp-action="CreateAndEdit" class="btn btn-dark">
				<i class="bi bi-plus-circle"></i> Create New Book
			</a>
		</div>
	</div>
	<table id="bookTable" class="table hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Publisher</th>
				<th>Language</th>
				<th>Price</th>
				<th>Category</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>

@section Scripts{
	<script src="~/js/bookDataTable.js"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
}

