@{
	ViewData["Title"] = "Category Management";
}
<div class="container pb-3">
	<div class="row pt-4 pb-2">
		<div class="col-5 col-sm-6">
			<h2 class="text-dark">Category List</h2>
		</div>
		<div class="col-7 col-sm-6 text-end">
			<a onClick="CreateAlertForAdding('/Admin/Category/Create')" class="btn btn-dark">
				<i class="bi bi-plus-circle"></i> Create New Category
			</a>
		</div>
	</div>
	<table id="categoryTable" class="table hover">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>

@section Scripts{
	<script src="~/js/categoryDataTable.js"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
}

