<footer class="footer pt-4 pb-2">
	<div class="col-12 d-sm-flex">
		<div class="col-8 col-sm-5 info-icons ms-sm-2 d-flex flex-column justify-content-center">
			<h6 class="d-flex align-items-center">
				<i class="fa fa-map-marker mx-3" aria-hidden="true"></i>
				District 5, City. Ho Chi Minh
			</h6>
			<h6 class="d-flex align-items-center">
				<i class="fa fa-phone mx-3" aria-hidden="true"></i>
				0123.456.789
			</h6>
			<h6 class="d-flex align-items-center">
				<i class="fa fa-envelope mx-3" aria-hidden="true"></i>
				HLBookstore@gmail.com
			</h6>
		</div>
		<div class="col-12 col-sm-5 navigation justify-content-around justify-content-sm-start align-items-center align-items-sm-start d-flex flex-row flex-sm-column">
			<h6><a asp-area="Customer" asp-controller="Home" asp-action="Books">See all books</a></h6>
			<h6><a asp-area="Customer" asp-controller="Home" asp-action="About">About</a></h6>
			<h6><a asp-area="Customer" asp-controller="Home" asp-action="About">Contact</a></h6>
		</div>
		<ul class="col-12 col-sm-2 d-flex align-items-end justify-content-around justify-content-sm-end">
			<li class="icon facebook">
				<span class="tooltip">Facebook</span>
				<a class="btn btn-primary" href="#!" role="button">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</li>
			<li class="icon twitter">
				<span class="tooltip">Twitter</span>
				<span>
					<a class="btn btn-primary" href="#!" role="button">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>
				</span>
			</li>
			<li class="icon instagram">
				<span class="tooltip">Instagram</span>
				<a class="btn btn-primary" href="#!" role="button">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</li>
			<li class="icon linkedin me-5">
				<span class="tooltip">Linkedin</span>
				<a class="btn btn-primary" href="#!" role="button">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<hr />
	<div class="col-12 d-sm-flex">
		<div class="col-sm-4"></div>
		<div class="col-12 col-sm-4 d-flex justify-content-center">
			<img src="~/images/home_banner/logo.png" alt="Logo" />
		</div>
		<div class="col-12 col-sm-4 d-flex align-items-end justify-content-around">
			<a href="#!" class="text-decoration-none"><h5>Terms of Service</h5></a>
			<a href="#!" class="text-decoration-none"><h5>Privacy Policy</h5></a>
		</div>
	</div>
</footer>